[submodule "alacritty"]
	path = alacritty
	url = git@github.com:mvandermeulen/alacritty_config.git
[submodule "atuin"]
	path = atuin
	url = git@github.com:mvandermeulen/atuin_config.git
[submodule "espanso"]
	path = espanso
	url = git@github.com:mvandermeulen/espanso.git
[submodule "kbd"]
	path = kbd
	url = git@github.com:mvandermeulen/kbd.git
[submodule "ssh"]
	path = ssh
	url = git@github.com:mvandermeulen/ssh_config.git
